*{
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
}

.App{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}
.routes-container{
  margin-bottom: 2rem;
  width: 100%;
}

.page{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}